# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV.

# Uncomment and set values as required.  See used settings in
# lib/*/configuration.rb

export DEBUG=false
export CAP_TESTING=false
# true  = process select CAP profiles into VIVO
# false = use all CAP profiles available in a local repo

export CAP_VIVO_LOG_FILE='log/cap_vivo_mapper.log'

export CAP_API_REPLACE=false
# true  = retrieve all CAP profiles and store them in a local repo
# false = assume all CAP profiles are already available in a local repo

export CAP_RDF_REPLACE=false
# true  = convert all CAP profiles into VIVO linked data (replace all)
# false = only convert CAP profiles that are not already VIVO records

export CAP_RDF_PROV=false
# true  = record PROV when creating VIVO linked data
# false = exclude PROV triples from VIVO linked data

# Configure the client service (requires authentication, see below)
export CAP_API_URL='https://cap.stanford.edu/cap-api/api'
export CAP_API_ORGS='/cap/v1/orgs'
export CAP_API_PROFILES='/profiles/v1'
export CAP_API_SCHEMA='/cap/v1/schemas'
export CAP_API_SEARCH='/cap/v1/search'
export CAP_API_SEARCH_AC='/cap/v1/search/autocomplete'
export CAP_API_SEARCH_KW='/cap/v1/search/keyword'
export CAP_API_LOG_FILE='log/cap_api.log'

# Remove any privileged information from CAP profile data?
export CAP_API_CLEAN=true

# Parameters for client authentication
export CAP_TOKEN_URI='https://authz.stanford.edu/oauth/token'
export CAP_TOKEN_USER=user
export CAP_TOKEN_PASS=pass
export CAP_TOKEN_ACCESS=xyz.etc

# Parameters for CAP and VIVO data persistence
export CAP_REPO_PATH='/tmp/cap_vivo_rdf'
export CAP_REPO_4STORE='http://localhost:9001'
export CAP_REPO_MONGO='mongodb://127.0.0.1:27017/cap'

# Abbreviations.com API
# http://www.abbreviations.com/abbr_api.php
export ABBREVIATIONS_DOT_COM_UID=101
export ABBREVIATIONS_DOT_COM_TOKEN=jYWz5iCdjTmLm
